{{!< default}}

<main class="content" role="main">


    <div class="main">
        <div class="inner">
            {{#foreach posts}}
                <article class="tile">
                    <a href="{{url}}">
                        <header>
                            <h2>{{{title}}}</h2>
                            <div class="tile-image-wrapper">
                                <img src="{{image}}" class="tile-image">
                            </div>
                            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
                        </header>
                        <section class="post-excerpt">
                            <p>{{excerpt words="30"}}&hellip;</p>
                        </section>
                    </a>
                    <section class="post-tags">
                        {{#foreach tags}}
                            <a href="{{url}}" title="{{name}}"><span class="tags">{{name}}</span></a>
                        {{/foreach}}
                    </section>
                </article>
            {{/foreach}}
        </div>
    </div>
    
    {{pagination}}

</main>
